</br></br>
<h1>Edit the following Movie</h1>
<form ng-submit='submit()' novalidate name='movieEdit'>
	<div class='row'>
		<div class='form-group'>
			<div class='col-md-4 col-sm-4 col-xs-4'> 
				<label for='rank'>Rank:</label> 
				<input type='text' name='erank' ng-model='imdb.editdata[1].rank' ng-required='true' class='form-control'/>
				<div ng-show='movieEdit.erank.$touched && movieEdit.erank.$invalid'>
						<small class='eMessage'> Enter a Valid Movie Rank </small>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='form-group'>
			<div class='col-md-4 col-sm-4 col-xs-4'>
				<label for='Movie Name'>Movie Name:</label> 
				<input type='text' name='etitle' ng-required='true' ng-model='imdb.editdata[1].title' class='form-control' />
				<div ng-show='movieEdit.etitle.$touched && movieEdit.etitle.$invalid'>
						<small class='eMessage'> Enter a Valid Movie Name </small>
				</div>
			</div>
		</div>
	</div>
	<div class='row'>
		<div class='form-group'>
			<div class='col-md-4 col-sm-4 col-xs-4'>
				<label for='imdbID'>IMDB ID: </label>
			    <input type='text' name='eid' ng-required='true' ng-model='imdb.editdata[1].id' class='form-control'/>
		    </div>
		    <div ng-show='movieEdit.eid.$touched && movieEdit.eid.$invalid'>
						<small class='eMessage'> Enter a Valid IMDB ID </small>
			</div>
		</div>
	</div>
</br>
&nbsp &nbsp &nbsp &nbsp<a href="#!/" class='btn btn-md btn-success col-md-offset-2'>Back</a> <input type='submit' ng-disabled='movieEdit.$invalid' ng-click='imdb.editmoviedata(imdb.editdata[1].rank,imdb.editdata[1].title,imdb.editdata[1].id)' class='btn btn-md btn-danger' value='Edit' />
</form>